/*Styles généraux*/

/*Header*/
.header-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #9094A9;
}

/*Liens de navigation (header)*/
.navigation
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: auto;
    margin-right: 2rem;
}

nav a
{
    color: white;
    text-decoration: none;
}

nav a:hover
{
    text-decoration: underline;
}

/*Décoration des liens*/
.rectangle1
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: auto;
    background: #151A30;
    border-radius: 11px;
    font-weight: bold;
}

.rectangle2
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px;
    height: auto;
}

/*Body (contenu)*/
body
{
    background-color: #0A1020;
    color: white;
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*Titre(s) de pages*/
.h_1
{
    text-decoration: underline;
    margin-bottom: 20px;
}

/*Main*/
.contenu_main
{
    margin-left: 2rem;
    margin-right: 2rem;
}

/*Bouton bleu pâle*/
.btn
{
    color: black;
    background: #6BA7FE;
    padding: 10px;
    border: 0;
    border-radius: 10px;
    font-weight: bold;
}

.btn:hover
{
    text-decoration: underline;
}

/*Footer*/
footer
{
    margin-top: 25px;
    border-top: 1px solid #9094A9;
    text-align: center;
    color: #9094A9;
}


/*Page index.html (Acceuil)*/

/*Texte et images*/
.texte-acceuil
{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 22px;
    background-color: #151A30;
}

.img-acceuil
{
    border-radius: 2cqmin;
    margin-top: 20px;
}

.logo_consoles1
{
    display: flex;
    gap: 50px;
    align-items: center;
}

.logo_consoles2
{
    text-align: center;
}


/*Pages catégories et produits*/
.boite1
{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 10px;
}

/*Logo + nom au-dessus de l'encadré du choix de produits*/
.nom_boite1
{
    font-weight: bold;
}

/*Affichage choix produits*/
.contenu_boite1
{
    display: flex;
    gap: 30px;
    background-color: #151A30;
    margin-bottom: 30px;
    padding: 30px;
    padding-bottom: 45px;
    border-radius: 10px;
    align-items: end;
}

/*Représente un produit (image + bouton) dans choix produits*/
.produits
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Description produits*/
.texte_produits
{
    display: flex;
    /*align-items: center;*/
    background-color: #151A30;
    padding: 20px;
    /*padding-top: 0px;*/
    border-radius: 10px;
}